<div id="albumContainer">
	<div class="albumsHeader">
		<h3 class="myAlbums" [style.color]="albumCreated ? '#23c7b3' : 'rgba(88, 84, 86, 0.8)'">
			My Albums
		</h3>
	</div>
	<div (click)="albumRanger(2)" class="albumBack arrows" *ngIf="albums.length >=4 && this.start != 0">
		<i class="fas fa-caret-left" id="backer"></i>
	</div>
	<div class="albums" *ngFor="let collection of albums | slice:start:end; 
		let i = index; trackBy: albumTracker">
		<ul class="albumPreviews">
				<li class="albumLister" [routerLink]="['./album/' + collection?.id]">
 			    <div class="card mb-3 myAlbum _og _2h"> 
	        		<div class="card-body myAlbum _2h _2j">
	        			<img src="{{collection?.photos[0]?.photoUrl}}" alt="Empty (o_O)" class="picPreview" />
	        		</div>
	        		<div class="card-body myAlbum _2h _5h">
		        		<img src="{{collection?.photos[1]?.photoUrl}}" alt="Empty (o_O)" class="picPreview" />
	        		</div>
		     		<div class="card-body myAlbum _2h _2f _2k">
			     		<img src="{{collection?.photos[2]?.photoUrl}}" alt="Empty (o_O)" class="picPreview"/>
		     		</div>
			        <div class="card-footer myAlbum">
			          	<h4 class="card-title myAlbum">{{collection?.title}}</h4>
			          	<h6 class="card-subtitle text-muted myAlbum">
			          	Photo Amount: {{collection?.photos.length}}
			          	</h6> 
			        </div>
	        	</div>
	        	<button type="button" *ngIf="collection?.user_id === this.userId" 
	        			(click)="deleteAlbum(i)" class="btn btn-outline-danger eliminate">
		            Delete
			  	</button> 
	        </li>
	    </ul>    	
	</div>	
	<div (click)="albumRanger(1)" class="albumNext arrows" 
		*ngIf="albums.length >=4 && albums.length >= this.end + 1">
		<i class="fas fa-caret-right" id="nexter"></i>
	</div>
</div>	