div.card-mb-3 {
    width: 302px;
    height: 300px;
    top: -2em;
}

._2k {
    top: 113px;
    box-sizing: border-box;
    width: 98.3333px;
    height: 100px;
}

._2j {
    border: 1px solid #ccc5c5;
    height: 98.333px;
    width: 202px;
    position: absolute;
    background-color: #e8e3e3;
}
._2h {
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 3px;
}

._og {
    pointer-events: none;
    width: 225px;
    height: 225px;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-left: 10px;
    border-radius: 4.5px;
    background-color: #efefef;
}

._2f {
    position: absolute;
    top: 114px;
    left: 113px;
    width: 98.3333px;
    height: 100px;
    border: 1px solid #ccc5c5;
    background-color: #e8e3e3;
}

._5h {
    top: 5px;
    box-sizing: border-box;
    width: 98.3333px;
    height: 100px;
    border: 1px solid #ccc5c5;
    background-color: #e8e3e3;
}

.card-footer.myAlbum {
    background-color: #efefef;
    position: absolute;
    top: 23em;
    width: 100%;
    left: -.05em;
    cursor: pointer;
    border-radius: 3px;
}

h4.card-title.myAlbum{
    margin-bottom: .75rem;
    color: rgba(9, 118, 226, 0.77);
    font-size: 1.2em;
    text-shadow: none !important;
}

h6.card-subtitle.text-muted.myAlbum {
    position: relative;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 400;
    font-variant: all-small-caps;
    letter-spacing: .06em;
    text-shadow: none !important;
}

#albumContainer {
    position: absolute;
    width: 84%;
    height: fit-content;
    left: 67pt;
    top: 86%;
    border-top: 1px solid rgba(58, 46, 52, 0.42);
    border-top-width: 80%;
    padding-top: 4em;
}

.albumsHeader {
    position: relative;
    left: 12.5%;
    top: -7em;
}

h3.myAlbums {
    color: rgba(88, 84, 86, 0.8);
    text-shadow: none !important;
    margin-left: -5em;
}

ul.albumPreviews {
    display: inline-table;
    float: left;
    flex-wrap: wrap;
    margin-left: 4em;
}

li.albumLister {
    list-style: none !important;
    padding-bottom: 7em;
}

img.picPreview {
    position: relative;
    width: 100%;
    height: 100%;
    color: #7587f5;
}

.eliminate {
    position: absolute;
    padding-left: 6px;
    width: 41pt;
    border-radius: 4px;
    right: -4.7em;
    top: 10pt;
    writing-mode: vertical-lr;
    transform: rotate(90deg);
}

div.moreAlbums.form-group {
    position: fixed;
    height: fit-content;
    width: 100%;
    top: 54.5em;
    left: 84%;
    margin-top: 1.5em;  
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.custom-select.seeMore {
    width: 7em;
    font-weight: 500;
    transform: rotate(-90deg);
    color: dimgrey;
    border-radius: 4px;
    padding-right: 2px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: 1px solid aliceblue;
    box-shadow: 0px 0px 12px 4px aliceblue;
}

@media all and (max-height: 39em) {
  #albumContainer {
    top: 55em;
  }
  div.moreAlbums.form-group {
    top: 88.5%;
  }
}

@media all and (max-height: 31.5em) {
  div.moreAlbums.form-group {
    top: 82%;
  }
}

@media all and (min-width: 55.5em) {
  div.moreAlbums.form-group {
    left: 84%;
  }
}

@media all and (min-width: 58em) and (max-width: 69.5em) {
  div.moreAlbums.form-group {
    left: 85%;
  }
}