.navbar>.container-fluid .navbar-brand {
    position: relative;
    left: -9em;
    top: .05em;
}

.navbar-brand {
    color: bisque;
    font-size: 3.6em;
    font-family: garamond;
    font-style: italic;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.nav-tabs>li>a:hover {
  border-color: transparent !important; 
}

li {
  font-size: 1.5em !important;
  list-style: none !important;
}

h1.navbar-brand {
  margin-top: -7pt;
}

ul.nav.nav-tabs {
	border: none;
}

a.profile {
  font-family: fantasy;
  color: #5167F4;
}

a:focus, a:hover {
  color: deepskyblue;
  text-decoration: none;
}

a.logout {
  font-family: fantasy;
  color: #d6514d;
  text-decoration: none;
}

a.logout:hover {
  cursor: pointer
}

div#bs-example-navbar-collapse.collapse.navbar-collapse {
  position: relative;
  left: 25em;
  top: .3em;
  font-size: 1.1em;
}

.panel {
	position: relative;
	background-color: transparent;
	border: 1pt solid aquamarine;
}

.panel-heading.panel-leftHeading {
  width: 42px;
  padding: 10px 15px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  float: left;
  height: 100%;
}

.panel-title.panel-leftTitle {
  margin-top: 3.5em;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
  width: 0;
}

.panel-body {
	padding: 2.5em 7em 2.5em;
}

@media all and (max-width: 72em) {
  .navbar>.container-fluid .navbar-brand {
    left: -8.3em;
  }
}

@media all and (max-width: 66em) {
  .navbar.navbar-default {
    width: 1032px;
  }
  .navbar>.container-fluid .navbar-brand {
    left: -6.8em;
  }
  div#bs-example-navbar-collapse.collapse.navbar-collapse {
    left: 20em;
  }  
}

@media all and (min-width: 75em) {
  .navbar>.container-fluid .navbar-brand {
    left: -9.7em;
  }
}