div.invalid-feedback {
  color: #d9534f;
  margin-left: 2em;
}

label.form-control-label.required:after { 
  content:"  *Required";
  font-size: .8em !important; 
  letter-spacing: .04em;
  color: #4193d8 !important;
}

.col-lg-2 {
  max-width: 25% !important;
}

.login-page {
  position: absolute;
  left: 6em;
  top: 22em;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

h2.login-header {
  font-size: 6em;
  font-family: 'Rokkitt', serif;
  font-variant: all-small-caps;
  margin-left: 1.3em;
  color: rgba(255, 140, 0, 0.7);
  text-shadow: 2px -6px 6px;
}

div.col-lg-10.col-lg-offset-2 {
  box-shadow: none !important;
}

div.col-lg-10 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0 0 0 0;
  width: 80%;
  left: 10pt;
}

div.email {
	margin-bottom: 1em;
}

label {
	color: rgba(94, 97, 121, 0.84);
  text-align: left !important;
  text-indent: .3em !important;
}

form {
  margin-top: 13em;
  margin-left: 30em;
  width: 70%;
  padding-left: 50pt;
}

.btn-outline-success {
  border-color: #08ca26;
  letter-spacing: .03em;
  color: #08ca26;
}

.btn-outline-success:hover {
  color: white;
}

@media all and (max-width: 33em) {
  form {
    padding-left: 0;
  }
}

@media all and (max-width: 53em) {
  form {
    min-width: 41em;
    margin-left: 20em;

  }
}

@media all and (max-width: 60em) {
  .login-page {
    left: 27.5em;
  }
}

@media all and (min-width: 70em) {
  .col-lg-2 {
      max-width: none !important;
    }
}

@media all and (min-width: 75em) {
  button {
    position: relative;
    left: -21%;
  }
}