<div class="main" id="full">
  <div class="backForth">
 <div *ngIf="!noLess; then theresLess else zero"></div>
    <ng-template #theresLess>
      <button type="button" (click)="backwards()" class="btn btn-primary prior">
        Prior
      </button>
    </ng-template>
    <ng-template #zero>
      <div class="btn btn-outline-secondary end">
        Prior
      </div>
    </ng-template>
  <div *ngIf="!noMore; then theresMore else end"></div>
    <ng-template #theresMore>
      <button type="button" (click)="forward()" class="btn btn-outline-secondary next">
        Next
      </button>
    </ng-template>
    <ng-template #end>
      <div class="btn btn-outline-secondary end">
        Next
      </div>
    </ng-template>
  <div *ngIf="!guest && !albumsExist">
    <div class="createAlbum noAlbumsYet">
      <button type="button" class="btn btn-outline-warning create firstOne" id="popupNewAlbum" 
        (click)="newAlbum()">
        Create Album
      </button>
    </div>
  </div>
  <div *ngIf="albumsExist" id="userAlbums">
      <h4>{{this.user[0].name}}'s Albums</h4>
    <ul>
      <div class="createAlbum">
        <button type="button" class="btn btn-outline-warning create" id="popupNewAlbum" 
          (click)="newAlbum()">
          Create Album
        </button>
      </div>
      <li *ngFor="let album of albums" (click)="albumChosen(album)"  
          [ngClass]="{ 'selected': album?.id === selectedAlbum?.id }" 
          [class.addedPulse]="album?.id === choice?.id">
        <span *ngIf="albums.length">{{album?.title}}</span>
      </li>
    </ul>
  </div>
</div> 
<div *ngFor="let pic of photos">
  <a class="photoCategory" [style.display] = "!popup ? 'initial' : 'none'" 
    [routerLink]="['../../']">
    {{pic.type}}
  </a>
  <div class="title-container">
    <h1>{{pic.name}}</h1> 
  </div>  
 <div>
  <button type="button" class="collect" (click)="addPhoto(pic)">
    +
   <span *ngIf="guestAttempted" class="guestAttempt">Login First</span>
  </button>
 </div> 
 <img src={{pic.photoUrl}}/>
 <div>
   <div class="like" (mouseover)="hover=true" 
            (mouseleave)="hover=false" [ngClass]="{ 'unLike': hover && beenLiked }" >
     <button type="button" *ngIf="!beenLiked"
     (click)="whenClicked=!whenClicked" 
       class="btn btn-outline-info likes" [style.display] = "whenClicked ? 'initial' : 'none'"
             (click)="likedBy(pic)">
             ^
     </button>
     <button *ngIf="beenLiked" type="button" id="noLikey" 
      class="btn btn-outline-danger" [ngClass]="{ 'unlike': hover }" (click)="noBueno(pic)">
       Unlike
     </button>
     <h3 class="amountLiked" [ngClass]="{ 'liked': lovingIt, 'unlike': hover && beenLiked }">
      {{likes}}
     </h3>
     <span *ngIf="guestLiked" class="guestLiked">Login First</span>
   </div>
   <button type="button" class="btn btn-outline-primary likes" (click)="likers()">Likes</button>
           <router-outlet name="likersPopUp"></router-outlet>
 </div>        
 <div class="comentator">
    <label><input type="comment" class="inputBox" placeholder="Comment" #newComment /></label>
    <div *ngIf="!guest; then member else visitor"></div>
      <ng-template #member>
        <button type="button" class="btn btn-outline-warning comment"
          (click)="addComment(newComment.value); newComment.value=''">
          Post
        </button>
      </ng-template>
      <ng-template #visitor>
        <button type="button" class="btn btn-outline-warning comment"
        (mouseover)="noPost=true" (mouseleave)="noPost=false">
            <span *ngIf="noPost">
              Please Login First!
            </span>
           <span *ngIf="!noPost">Post</span>
        </button>
      </ng-template>
  </div>  
    <div class="commentary" *ngFor="let comment of pic?.comments; let odd = odd; let even = even; 
        let i = index; trackBy: trackByFn">
    <ul class="comments">
      <table class="table table-striped table-hover table-bordered">
       <tbody>
          <tr  [ngClass]="{'active': odd}">
            <td> - {{(comment)?.content}}</td>
          </tr>
        </tbody>
      </table> 
      <button type="button" *ngIf="!guest && comment.user_id === this.user[0].id" 
        (click)="deleteComment(comment, i)" class="btn btn-outline-danger comment">
          X
      </button>
    </ul>
  </div>   
</div>