div#full.main {
  margin-top: 30%;
  background-color: #272b30 !important;
  padding-top: 1em;
  padding-bottom: 5em;
}

img {
  position: absolute;
  left: 36em;
  top: 22.5em;
  width: 400px;
  height: 400px;
	border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}

.backForth {
  left: 2.5%;
  top: 12.5em;
  position: absolute; 
}

button.btn.btn-primary.prior {
  color: seashell !important;
  background-color: #272b30 !important;
  border: none !important;
  transition: none !important;
}

button.btn.btn-primary.prior:hover {
  border: 1px solid #ccc !important;
  color: seashell !important;
  background: none !important;
}

button.btn.btn-outline-secondary {
  color: #868181 !important;
  letter-spacing: .03em;
  font-weight: 100;
} 

.btn.btn-outline-secondary.next:hover {
  color: snow !important;
}

.btn.btn-outline-secondary.end {
  color: rgba(232, 230, 230, 0.61) !important;
  text-decoration: line-through;
  border: 1px solid rgba(222, 15, 84, 0.47) !important;
  background: none !important;
  cursor: text !important;
}

a.photoCategory {
  position: absolute;
  left: 17em;
  top: 3.5em;
  border-top: 1pt solid #90888c;    
  border-bottom: 1pt solid #90888c;
  color: #4a4de2;
  font-size: 3em;
  font-weight: 200;
  font-variant: small-caps;
  padding-left: .3em;
  padding-right: .3em;
  padding-bottom: .2em;
  text-decoration: none !important;
}

a.photoCategory:hover {
  transform: scale(0.95);
}    

.title-container {
  height: 400px;
  position: absolute;
  top: 23em;
  left: 13em;
  padding-top: 5em;
}

.selected {
  background-color: #a9b0e0;
}

.like {   
  display: block;
  width: 70px;
  height: 70px;
  line-height:50px;
  border: 2px solid;
  border-color: #5167F4;
  border-radius: 50%;
  text-decoration:none;
  background: none;
  font-size:20px;
  position: absolute;
  left: 11.8em;
  top: 18.75em;
  -webkit-padding-before: initial;
}

.unLike {   
  border-color: #96062c !important;
}

#noLikey.btn.btn-outline-danger {
    display: none;
    visibility: hidden;
}

#noLikey.btn.btn-outline-danger.unlike {
    display: inherit;
    visibility: visible;
    left: 16%;
    top: 50%;
    color: #ca0c2f;
    font-size: 1em;
    position: absolute;
    border-radius: 50%;
    background-image: none;
    background-color: transparent;
    transform: rotate(180deg);
} 

.thumbsUp {
    position: absolute;
    top: 1.74em;
    left: .05em;
    height: 23pt;
    width: 48pt;
    background-image: none;
    background-color: #ffffff;
    border-right: 1px solid transparent;
    border-top-color: transparent;
    border-left: none;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 0em;
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
    transform: rotate(180deg);
}

.thumbsUp.unlike {
    background-color: transparent;
}

.btn.btn-outline-info.likes {
    color: rgba(35, 106, 245, 0.98);
    background-image: none;
    background-color: transparent;
    border: none;
    font-size: .75em;
    transform: rotate(180deg);
    float: left;
    margin-left: 1em;
}    

.btn.btn-outline-info.likes:hover {
    font-size: 1em;
    margin-left: .6em;
}

.likeAmount{
    height: 25.5pt;
    position: relative;
    top: -0.5em;
    width: 49.2pt;
    background-image: none;
    background-color: #282b31;
    border-right: 1px solid transparent;
    border-top-color: transparent;
    border-left: none;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 14.8%;
    border-top-right-radius: 5em;
    border-top-left-radius: 5em;
    color: #14b4f7;
}

.likeAmount.unlike {
    display: none;
}

.amountLiked {
    letter-spacing: 0.07em;
    margin-top: 0.74em;
    padding-top: 1em;
    text-shadow: 1px 1px 6px #04decf;
    font-size: .65em;
    text-align: center;
}

.amountLiked.liked {
    font-size: .8em;
    margin-top: .65em !important;
    transition: all 1.5s ease-in;
    transform: translate(2px);
}

span.guestLiked {
  color: #d0dada;
  font-size: .5em;
  display: block;
  width: 66px;
  height: 63px;
  top: -4em;
  border-radius: 50%;
  background: #282b31;
  position: relative;
  padding-top: 2pt;
  text-indent: 8px;
}

.btn.btn-outline-primary.likes {
  position: absolute;
  border-radius: 13px;
  top: 46.5em;
  left: 24.7em;
  color: white;
  font-weight: 300;
  letter-spacing: .15em;
  background-image: none;
  background-color: transparent;
  border-color: rgba(81, 103, 244, 0.88);
  font-variant: petite-caps;
} 

.btn.btn-outline-primary.likes:hover {
  color: #06e8f7;
  background-color: #313539;
  border-color: whitesmoke;
}    

div#userAlbums  {
  border: 1.2pt solid #868179;
  top: 15em;
  position: absolute;
  border-radius: 8px;
  left: 90em;
  width: 20em;
  padding-right: 1px;  
}

#userAlbums ul {
  padding-right: 0px;
  padding-left: 0px;
}

#userAlbums li {
  text-transform: capitalize;
  cursor: pointer;
  color: rgb(66, 76, 160) !important;
  list-style: none;
  height: 2em;
  font-size: 1.5em;
  margin-right: 0pt;
  margin-left: 0pt;
  padding-top: 5pt;
  padding-bottom: 2em;
  text-align: center;
  border-top: 1.2px solid #868179;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.15);
}

#userAlbums li:hover {
  background-color: rgba(220, 218, 127, 0.58);
}

.createAlbum {
  height: 3.9em;
  text-align: center;
  border-top: 1px solid #f89406;
}

.noAlbumsYet {
  position: relative;
  height: 20pt !important;
  left: 77.1em;
  top: 31.2em;
  border-bottom: 1px solid #f89406 !important;
  border-radius: 4px;
}

.firstOne {
  margin-top: 0 !important;
}

button.btn.btn-outline-warning#popupNewAlbum.create {
  background: none;
  border: none; 
  border-radius: 6px;
  padding-bottom: 4px;
  margin-top: .5em;
  font-size: 1.2em !important;
  color: #f96a46 !important;
  text-shadow: none !important;
} 

button.btn.btn-outline-warning#popupNewAlbum.create:hover {
  color: aliceblue !important;
  border: 1px solid aliceblue !important;
  background-color: tomato !important;
}

h2 {
  color: aliceblue;
  font-size: 2em;
  position: static;
}

h1 {
  color: #c71d49 !important;
  writing-mode: vertical-lr;
  text-orientation: upright;    
  font-size: 3em;
  font-weight: 100;
  text-shadow: -4px 9px 3px rgba(226, 68, 86, 0.65);
}

h4 {   
    color: rgba(73, 84, 175, 0.94);
  	font-size: initial;
    padding: 8pt 13pt 6pt 12pt;
    font-variant: all-petite-caps;
    text-align: center;
    border-bottom: 1px solid #E94755;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.collect {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 50px;
    border: 2px solid #E76122;
    border-radius: 50%;
    color: #E30754;
    text-decoration: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 40.5em;
    top: 18.75em;
    -webkit-padding-before: initial;
}  

button.collect:focus {
  outline: none
}

.collect:hover {
  background-color: #272b30;
  border: 2px solid #E30754;
  color: #E76122;
}

span.guestAttempt {
  color: #d0dada;
  font-size: .5em;
  display: block;
  width: 66px;
  height: 65px;
  border-radius: 50%;
  background-color: #272b30;
  position: relative;
  top: -5em;
  left: -.7em;
  padding-top: 5pt;
}

.comentator {
  margin-left: 4.7em;
  margin-top: 20em;
}

input.inputBox {
  width: 45%;
  text-align: center;
  border-radius: 4px;
  color: seashell;
  margin-left: 285pt;
  margin-top: 35pt;
  margin-bottom: 3pt;
  background-color: #292a2b;
  height: 20pt;
  letter-spacing: .03em;
  font-weight: lighter;
}

input[type="comment"].inputBox::-webkit-input-placeholder {
  color: gainsboro;
}
input[type="comment"].inputBox:focus::-webkit-input-placeholder {
  color: transparent;
}

button.btn.btn-outline-warning.comment {
  height: 20pt;
  position: relative;
  left: 86pt;
}

.commentary {
  position: relative;
  left: 1.3em;
  margin-bottom: -2.5em !important;
}

ul.comments:nth-child(1) {
  margin-top: 26px;
}

ul:first-child::before {
  content: '';
}

ul.comments {
    color: floralwhite;
    font-family: fantasy;
    font-size: 1.2em;
}  

table.table {
  position: relative;
  width: 18.8em !important;
  top: 1em;
  left: 31em;
  margin-bottom: -1em !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.btn.btn-outline-danger.comment {
  position: relative;
  left: 60em;
  top: -1.05em;
  height: 25pt;
  width: 30px;
  font-weight: 400;
}

.table>tbody>tr>td {
  border-top: 1px solid rgba(31, 32, 35, 0.93);
}

.addedPulse {
  animation: pulse ease-out 2.5s;
  -webkit-animation: pulse ease-out 2.5s;
}

@keyframes pulse {
  0% {
      background-color: #a9b0e0;
  }
  100% {
      background-color: mediumseagreen
  }
}

@media all and (max-width: 69em) {
  div.comentator {
    margin-top: 23em !important;
  }
}

@media all and (max-width: 65em) {
  div.comentator {
    margin-top: 26em !important;
  }
}

@media all and (max-width: 59em) {
  div.comentator {
    margin-top: 29em !important;
  }
}

@media all and (max-width: 51em) {
  div.comentator {
    margin-top: 33em !important;
  }
}

@media all and (min-width: 74em) {
  div.comentator {
    margin-top: 17.5em;
  }
}